<script src="/conversations-tool/js/timeline.js"></script>
<script src="/conversations-tool/js/react.js"></script>

<div class="vue-enabled">
  <react-topic baseurl="{{baseURL}}"
               topic_uuid="{{topic.uuid}}"
               topic_json="{{topic_json}}"
               current_user_id="{{currentUserId}}"
               current_user_role="{{currentUserRole}}">
  </react-topic>
</div>